<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <h2>This is about Nature images...</h2>
    <img src={{img}} alt="nature">
    {{>footer}}
</body>

</html>